- name: Ensure traefik directory exists
  ansible.builtin.file:
    path: "/opt/traefik"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Copy Traefik configuration files
  ansible.posix.synchronize:
    src: "./traefik/"
    dest: "/opt/traefik/"
    recursive: true

- name: Substitute environment variables in docker-compose.yml
  ansible.builtin.shell: |
    envsubst < /opt/traefik/traefik.yml > /opt/traefik/traefik.yml.tmp
    mv /opt/traefik/traefik.yml.tmp /opt/traefik/traefik.yml
    envsubst < /opt/traefik/docker-compose.yml > /opt/traefik/docker-compose.yml.tmp
    mv /opt/traefik/docker-compose.yml.tmp /opt/traefik/docker-compose.yml
  environment:
    EMAIL: "{{ CERT_EMAIL }}"
    PLACEMENT: "{{ placement }}"
  changed_when: true

- name: Create traefik swarm network
  community.docker.docker_network:
    name: traefik-{{ placement }}
    driver: overlay
    scope: swarm
    state: present

- name: Build and start Traefik
  community.docker.docker_stack:
    compose: /opt/traefik/docker-compose.yml
    state: present
    name: traefik-{{ placement }}
