# api:
# insecure: true
# dashboard: true
#  debug: true
log:
  level: ERROR
accessLog: {}

entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: :443
  metrics:
    address: ":8082"

# uncomment to enable prometheus export
# -> https://doc.traefik.io/traefik/observability/metrics/prometheus/
metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true

certificatesResolvers:
  letsencrypt:
    acme:
      # this must be replaced via envsubst or similar
      # or use docker compose run --rm envsubst to stamp it
      email: ${EMAIL}
      storage: /letsencrypt/acme.json
      tlsChallenge: {}
      #         uncomment for testing against staging...
      # caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      caServer: "https://acme-v02.api.letsencrypt.org/directory"

providers:
  file:
    filename: /etc/traefik/services.yml
    watch: true
  docker:
    exposedByDefault: false
    swarmMode: true
    network: traefik
