- name: Install-CTFd
  remote_user: root
  hosts: ctf
  become: true
  vars_files:
    - ctf.env.yml

  vars:
    pip_install_packages:
      - name: docker

  environment:
    NEEDRESTART_MODE: automatically

  pre_tasks:
    - name: Wait for cloud-init / user-data to finish
      # https://serverfault.com/a/1021022
      ansible.builtin.command: cloud-init status --wait
      changed_when: false
    - name: Populate Apt's Cache with package definitions to avoid "no such package" errors
      # https://github.com/geerlingguy/ansible-role-pip/issues/49#issuecomment-1824708282
      ansible.builtin.apt:
        update_cache: true

  roles:
    - geerlingguy.git
    - geerlingguy.pip
    - geerlingguy.docker

  tasks:
    - name: Copy CTFd configuration files
      ansible.builtin.copy:
        src: "./ctfd/"
        dest: "/opt/ctfd/"
        owner: root
        group: root
        mode: "0755"

    - name: Substitute environment variables in traefik.yml
      ansible.builtin.shell: |
        envsubst < /opt/ctfd/docker-compose.yml > /opt/ctfd/docker-compose.yml.tmp
        mv /opt/ctfd/docker-compose.yml.tmp /opt/ctfd/docker-compose.yml
      environment:
        DOMAIN: "{{ DOMAIN }}"
        EMAIL: "{{ EMAIL }}"

    - name: Build and start docker
      ansible.builtin.shell: |
        cd /opt/ctfd
        docker compose up -d
