[ctf]
<IP where to deploy CTFd>

[chall]
<IP where to deploy challenge server main node>
<IP(s) where to deploy challenge servers workers, if needed>

[manager]
<IP where to deploy challenge server main node>
