- name: Challs - Initialization
  hosts: challs
  remote_user: root
  become: true
  vars_files:
    - .env.yml

  vars:
    pip_install_packages:
      - name: docker

  environment:
    NEEDRESTART_MODE: automatically

  pre_tasks:
    - name: Wait for cloud-init / user-data to finish
      # https://serverfault.com/a/1021022
      ansible.builtin.command: cloud-init status --wait
      changed_when: false

  roles:
    - geerlingguy.git
    - geerlingguy.pip
    - geerlingguy.docker

  tasks:
    - name: Set challs label
      community.docker.docker_node:
        hostname: "{{ ansible_hostname }}"
        labels:
          type: challs

    - name: Login to remote Docker registry
      community.docker.docker_login:
        registry_url: "registry.{{ CTF_DOMAIN }}"
        username: "admin"
        password: "{{ ADMIN_PASS }}"

- name: Challs - Deploy challenges
  hosts: manager
  remote_user: root
  become: true
  vars_files:
    - .env.yml

  tasks:
    - name: Clone challenges repository
      ansible.builtin.git:
        repo: "{{ CHALL_REPO }}"
        dest: /opt/challs

    - name: Install Python dependencies for deploy.py
      ansible.builtin.pip:
        requirements: /opt/challs/requirements.txt
        executable: pip3

    - name: Deploy challenges with checker.py
      ansible.builtin.command: >
        python3 /opt/challs/checker.py --run --host {{ CHALLS_DOMAIN }} --CTFd "https://{{ CTF_DOMAIN }} {{ ADMIN_TOKEN }}" --registry registry.{{ CTF_DOMAIN }}
      changed_when: true
