- name: Setup Challs - Install dependencies
  hosts: challs
  remote_user: root
  become: true
  vars_files:
    - .env.yml

  vars:
    pip_install_packages:
      - name: docker

  environment:
    NEEDRESTART_MODE: automatically

  pre_tasks:
    - name: Wait for cloud-init / user-data to finish
      # https://serverfault.com/a/1021022
      ansible.builtin.command: cloud-init status --wait
      changed_when: false

  roles:
    - geerlingguy.git
    - geerlingguy.pip
    - geerlingguy.docker

  tasks:
    - name: Login to remote Docker registry
      community.docker.docker_login:
        registry_url: "registry.{{ CTF_DOMAIN }}"
        username: "{{ REGISTRY_USER }}"
        password: "{{ REGISTRY_PASS }}"

- name: Setup Challs - swarm manager initialization
  hosts: manager
  remote_user: root
  become: true
  tasks:
    - name: Initialize Docker Swarm on Manager
      when: "'manager' in group_names"
      community.docker.docker_swarm:
        state: present
        advertise_addr: "{{ ansible_default_ipv4.address }}"
      register: swarm_init

    - name: Retrieve Swarm Info (to get Join Tokens)
      when: "'manager' in group_names"
      community.docker.docker_swarm_info:
      register: swarm_info

    - name: Set Join Token Fact
      when: "'manager' in group_names"
      ansible.builtin.set_fact:
        worker_join_token: "{{ swarm_info.swarm_facts.JoinTokens.Worker }}"
        manager_ip: "{{ ansible_default_ipv4.address }}"

- name: Setup Challs - swarm workers initialization
  hosts: challs:!manager
  remote_user: root
  become: true
  tasks:
    - name: Join Swarm as Worker
      when: "'manager' not in group_names"
      community.docker.docker_swarm:
        state: join
        join_token: "{{ hostvars[groups['manager'][0]]['worker_join_token'] }}"
        remote_addrs: ["{{ hostvars[groups['manager'][0]]['manager_ip'] }}:2377"]

- name: Setup Challs - Deploy challenges
  hosts: manager
  remote_user: root
  become: true
  vars_files:
    - .env.yml

  tasks:
    - name: Clone challenges repository
      ansible.builtin.git:
        repo: "{{ CHALL_REPO }}"
        dest: /opt/challs

    - name: Install Python dependencies for deploy.py
      ansible.builtin.pip:
        requirements: /opt/challs/requirements.txt
        executable: pip3

    - name: Deploy challenges with checker.py
      ansible.builtin.command: >
        python3 /opt/challs/checker.py --run --host {{ CHALLS_DOMAIN }} --CTFd "https://{{ CTF_DOMAIN }} {{ ADMIN_TOKEN }}" --registry registry.{{ CTF_DOMAIN }}
      changed_when: true
