- name: Setup-CTF
  hosts: ctf
  remote_user: root
  become: true
  vars_files:
    - .env.yml

  vars:
    pip_install_packages:
      - name: docker

  environment:
    NEEDRESTART_MODE: automatically

  pre_tasks:
    - name: Wait for cloud-init / user-data to finish
      # https://serverfault.com/a/1021022
      ansible.builtin.command: cloud-init status --wait
      changed_when: false
    - name: Populate Apt's Cache with package definitions to avoid "no such package" errors
      # https://github.com/geerlingguy/ansible-role-pip/issues/49#issuecomment-1824708282
      ansible.builtin.apt:
        update_cache: true
  roles:
    - geerlingguy.pip
    - geerlingguy.docker

  tasks:
# TRAEFIK SETUP
    - name: Copy Traefik configuration files
      ansible.builtin.copy:
        src: "./traefik/"
        dest: "/opt/traefik/"
        owner: root
        group: root
        mode: "0755"

    - name: Create traefik network
      community.docker.docker_network:
        name: traefik
        state: present
        driver: bridge

    - name: Substitute environment variables in traefik.yml
      ansible.builtin.shell: |
        envsubst < /opt/traefik/traefik.yml > /opt/traefik/traefik.yml.tmp
        mv /opt/traefik/traefik.yml.tmp /opt/traefik/traefik.yml
      environment:
        DOMAIN: "{{ CTF_DOMAIN }}"
        EMAIL: "{{ CERT_EMAIL }}"

    - name: Build and start Traefik
      ansible.builtin.shell: |
        cd /opt/traefik
        docker compose up -d

# CTFD SETUP
    - name: Copy CTFd configuration files
      ansible.builtin.copy:
        src: "./ctfd/"
        dest: "/opt/ctfd/"
        owner: root
        group: root
        mode: "0755"

    - name: Substitute environment variables in docker-compose.yml
      ansible.builtin.shell: |
        envsubst < /opt/ctfd/docker-compose.yml > /opt/ctfd/docker-compose.yml.tmp
        mv /opt/ctfd/docker-compose.yml.tmp /opt/ctfd/docker-compose.yml
      environment:
        DOMAIN: "{{ CTF_DOMAIN }}"
        SECRET_KEY: "{{ SECRET_KEY }}"
        ADMIN_PASS: "{{ ADMIN_PASS }}"
        ADMIN_TOKEN: "{{ ADMIN_TOKEN }}"

    - name: Build and start CTFd docker
      ansible.builtin.shell: |
        cd /opt/ctfd
        docker compose up -d
    
# REGISTRY SETUP
    - name: Copy Registry configuration files
      ansible.builtin.copy:
        src: "./registry/"
        dest: "/opt/registry/"
        owner: root
        group: root
        mode: "0755"
      
    - name: Substitute environment variables in docker-compose.yml
      ansible.builtin.shell: |
        envsubst < /opt/registry/docker-compose.yml > /opt/registry/docker-compose.yml.tmp
        mv /opt/registry/docker-compose.yml.tmp /opt/registry/docker-compose.yml
      environment:
        DOMAIN: "registry.{{ CTF_DOMAIN }}"

    - name: Create registry htpasswd file
      ansible.builtin.command: |
        docker run --rm --entrypoint htpasswd httpd:2 -Bbn {{ REGISTRY_USER }} {{ REGISTRY_PASS }}
      register: htpasswd_output

    - name: Save htpasswd file
      ansible.builtin.copy:
        content: "{{ htpasswd_output.stdout }}"
        dest: /opt/registry/auth/htpasswd
        owner: root
        group: root
        mode: "0644"

    - name: Build and start Registry docker
      ansible.builtin.shell: |
        cd /opt/registry
        docker compose up -d 
